.header {
    display: none;
    position: sticky;
    top: 0;
    color: white;
    box-sizing: border-box;
    font-size: 35px;
    padding: 10px;
    line-height: 250px;
    width: 100%;
    z-index: 200;
    border-bottom: ridge  rgb(97, 97, 97);
    background-color: $main-color;
    @include tablet{
        display: block;
        margin: auto;
    }
    @include mobile{
        display: block; 
    }
    .Menuheader{
        &:hover{
            opacity: 0.7;
        }
    }
    button{
        border: ridge rgb(65, 64, 64);
        font-size: 35px;
        padding: 5px;
        line-height: 25px;
        color: white;
        background-color: rgb(43, 42, 42);
    }

    .popupmenu{
        display: none;
        li{
            height: 60px;
            line-height: 23px;
            margin: 20px;
            padding: 10px;
            box-sizing: border-box;
            list-style:none;
            color: rgb(255, 255, 255);
            font-size: 23px;
            border: ridge rgb(68, 68, 68);
            border-radius: 20px;
            &:hover{
                opacity: 0.7;
            }
        }
    }
}
