.product-card {
    text-align: center;
    image-rendering: smooth;
    &__image {
        padding: 10px;
        position: relative;

        .rating_card{
            text-align: center;
            z-index: 1;
            position: absolute;
            border-radius: 5px 2px 2px 5px ;
            top:10%;
            right:2px;
            width: 45px;
            height: 20px;
            font-size: 12px;
            padding-top: 3px;
            color: rgb(244, 224, 5);
            background-color: rgb(16, 84, 148);
            @include mobile{
                width: 20%;
                height: 6%;
                font-size: 50%;
                padding-top: 1.5%;
                line-height: 15px;
                right: 0%;
            }
        }

        img {
            width: 230px;
            height: 30%;
            text-align: center;
            border-radius: 15px;
            transition: transform 0.5s ;
            background-color: rgb(73, 72, 72);
            @include mobile{
                width: 380px;
            }
        }

        h3{
            color: $txt-second-color;
            margin-top: 5px;
            font-size: 1.25rem;
            font-weight: normal;  
        }

        &:hover img, &:hover h3{
            opacity: 0.75;  
            color: grey;         
        }
        
    }
    @include mobile{
        margin: auto;
    }
}
